<div id="<%= dom_id(vendor) %>">
  <p>
    <strong>Industry:</strong>
    <%= vendor.industry_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= vendor.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= vendor.phone %>
  </p>
  <p>
    <strong>Address line 1:</strong>
    <%= vendor.address_line_1 %>
  </p>
  <p>
    <strong>Address line 2:</strong>
    <%= vendor.address_line_2 %>
  </p>
  <p>
    <strong>Town:</strong>
    <%= vendor.town %>
  </p>
  <p>
    <strong>Facebook:</strong>
    <%= vendor.facebook %>
  </p>
  <p>
    <strong>Instagram:</strong>
    <%= vendor.instagram %>
  </p>
  <p>
    <strong>Website:</strong>
    <%= vendor.website %>
  </p>
</div>